@model IEnumerable<Model.Model.Phim_ChuDe>
@{
    ViewBag.Title = "TopicFilm";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}


<div class="container-fluid">
    <h2>Các phim của chủ đề</h2>
    <div style="margin-bottom: 10px;">
        <a class="btn-add" href="/topic/set-topic">Thiết lập chủ đề cho phim</a>
    </div>

    <table class="table table-bordered" style="border:1px solid;">
        <thead class="text-center">
            <tr>
                <th>Id Chủ đề</th>
                <th>Id Phim</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.idPhim">
                    <td>@item.idChuDe</td>
                    <td>@item.idPhim</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Trở về", "Topic")
    </div>
</div>

