@model IEnumerable<Model.Model.ChuDe>
@{
    ViewBag.Title = "Topic";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container-fluid">
    <h2>Chu de phim</h2>
    <div style="margin-bottom: 10px;">
        <a class="btn-add" href="/topic/insert">Them chu de moi</a>
    </div>

    <table class="table table-bordered" style="border:1px solid;">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>Ten chu de</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.idChuDe">
                    <td>@item.idChuDe</td>
                    <td>@item.tenChuDe</td>
                    <td><a href="/topic/topic-film/@item.idChuDe">Chi tiet</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>
